**/Modulo-01/Documentos/
**/Modulo-01/enade2019/
**/Modulo-01/enem2019/
**/Modulo-01/twitter/
**/Modulo-01/Trabalho-Modulo-01/Trabalho-Pratico-Modulo01.sql
**/Modulo-01/Docker/airflow/dags/
**/Modulo-01/Docker/airflow/logs/
**/Modulo-01/Docker/airflow/plugins/
**/Modulo-02/Documentos/
**/Modulo-02/MaquinasVirtuais/
**/Modulo-02/Script/
